<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th>productid</th>
                            <th>category name</th>
                            <th>product name</th>
                            <th>price</th>
                            <th>description</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in data2 %}
                          <tr>
                            <td>{{i.productid}}</td>
                            <td>{{i.category}}</td>
                            <td>{{i.productname}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.description}}</td>
                            <td>
                                <img src="{{i.productimage.url}}" width="10px" height="10px">
                            </td>
                              <td>
                                  <a href="{% url 'product_edit' pid=i.id %}">

                                      <button type="submit">EDIT</button>
                                  </a>
                                  </a>
                                    <a href="#" >
                                      <button type="submit">DELETE</button>
                                  </a>



                              </td>

                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
</body>
</html>
{% endblock %}